# define beam properties
Beams:frameType = 2
Beams:idA = 2212
Beams:idB = 2212 
Beams:eA = 120
Beams:eB = 0.0

# HeavyIon:SigFitNGen = 0
# HeavyIon:SigFitDefPar = 18.36,0.03,1.30,0.0,0.0,0.0,0.0,0.0
# 
# define physics
HardQCD:all = on
PhotonParton:all = on
PhaseSpace:pTHatMin = 2 
# SoftQCD:all = on
# LowEnergyQCD:all = on
ParticleDecays:allowPhotonRadiation = on
# PhaseSpace:mHatMin = 4

# disable subsequent decay
# 111:mayDecay=off
# 221:mayDecay=off
# 113:mayDecay=off
# 223:mayDecay=off
# 333:mayDecay=off
# 443:mayDecay=off
# 553:mayDecay=off
